<div class="row footer-row" style="position: relative; top: 300px;">
	<div class="col-sm-12" style="position: relative; top: 60px; right: 15px;">
		<a href="/">
			<%= image_tag "my_logo-2.png", class: "brand-img footer-brand-img" %>
		</a>
		<%=link_to "HOME", "/", class: "home-footer-link" %>
		<%=link_to "ABOUT", "#", class: "about-footer-link" %>
		<%=link_to "HELP", "#", class: "help-footer-link" %>
		<%=link_to "CONTACT", "#", class: "contact-footer-link" %>
		<a href="https://github.com/cardo22" class="github-icon">
			<i class="fa fa-github-square" aria-hidden="true"></i>
		</a>
		<a href="https://www.linkedin.com/in/rclarcke" class="linkedn">
			<i class="fa fa-linkedin" aria-hidden="true"></i>
		</a>
	</div><br />
	<section style="width: 304px;">
		<span style="position: relative; left: 65px; top: 65px;">
			<i class="fa fa-copyright" aria-hidden="true"></i>
			<h5 style="position: relative; left: 21px; top: -28px">2016 PITCHES, Inc. All rights reserved.
			</h5>
		</span>
	</section>
</div>