<div class="container-fluid">
	<div class="row edit-group-row">
		<div>
			<% if @group.errors.any? %>
			<ul>
				<% @group.errors.full_messages.each do |error| %>
				<li>
					<%= error %>
				</li>
				<% end %>
			</ul>
			<%end%>
		</div>


		<div class="col-sm-12">
			<h2>Update <%= @group.name %></h2>

			<%= form_for @group do |f| %>
			<div class="field">
				<%= f.label :name %><br />
				<%= f.text_field :name, autofocus: true %>
			</div>
			<div class="field">
				<%= f.label :card %><br />
				<%= f.number_field :card, autofocus: true %>
			</div>
			<div class="field">
				<%= f.label :total_savings %><br />
				<%= f.number_field :total_savings, autofocus: true %>
			</div>
			<div class="action group-btn">
				<%= f.submit "Edit", class: "btn btn-primary" %>
			</div>
			<%end%>
		</div>
	</div>
</div>