<div class="container-fluid">
	<div class="row head-row">
		<div class="col-xs-12">
  				<% @groups.each do |group| %>
  				<i class="fa fa-users group-name" aria-hidden="true" style="font-size: 40px;">
  					<%= group.name %>
  				</i>
  				<div class="panel panel-default total-savings">
				  <div class="panel-body">
				    <i class="fa fa-money total-saving-font" aria-hidden="true">
	    				Total Savings
	    			</i>
	    			<br />
	    			<i class="fa fa-usd" aria-hidden="true" style="color: gold; font-size: 30px;">
	    				<%= group.total_savings %>
	    			</i>	
				  </div>
				</div>
	    		
	    		<span class="label label-default profile-label delete-group-btn" style="position: relative; left: -292px; top: 35px;">
	    			<%= link_to "Edit", "/groups/#{group.id}/edit", class: "home-link" %>
	    			<%= link_to("Delete", group_path(group), method: :delete, data: {confirm: 'Are you sure?'}) %>
	    		</span>
    			<% end %>
		</div>
		<p class="invite-link">
			<a href="/groups/<%= @group_id %>/invites/new">
				<i class="fa fa-paper-plane" aria-hidden="true"></i>
			</a>
			<em>Send-Invite</em><br />
			<a href="/groups/<%= @group_id %>/invites" style="position: relative; top: 10px; left: 20px;">
				<i class="fa fa-binoculars" aria-hidden="true">See all</i>
			</a>
		</p>
	</div>

	<hr>

	<div class="row mid-row">
		<div class="col-xs-6 goal-col">
			<h4><%= flash[:success] %></h4>
			<table>
				<thead>
					<tr>
						<th>
							<h3>Goals</h3>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<% @goals.each do |goal| %>
						<td>
							<div class="list-group">
								<a href="/groups/<%=goal.group.id%>/goals/<%= goal.id %>" class="list-group-item list-group-item-success goal-item">
									<%= goal.goal_name %>
									<br />
									<i class="fa fa-usd goal-font" aria-hidden="true">
										<%= goal.goal_amount.to_f %>
									</i><br />
									<div class="progress">
									  <div class="progress-bar progress-bar-success" style="width: <%= (goal.current_amount.to_f / goal.goal_amount) * 100 %>%">
									    <span class="sr-only">0% Complete (success)</span>
									  </div>
									</div>
								</a>
								<span class="badge">
									<%= link_to("Delete", group_goal_path(goal.group_id, goal), method: :delete, data: {confirm: 'Are you sure?'}) %>
								</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<% end %>
			<a href="/groups/<%=@group_id%>/goals/new">
			<button type="button" class="btn btn-primary">Create goal</button>
			</a>
		</div>
		<div class="col-xs-6 contrib-col">
			<div class="panel panel-default">
  				<!-- Default panel contents -->
  				<div class="panel-heading">
  					Contributers
  				</div>

  				<!-- Table -->
 				<table class="table">
 					<thead>
 						<tr>
 							<th>Saver</th><th>Last-contrib</th>
 						</tr>
 					</thead>
					<tbody>
						<tr>
							<% @users.each do |user| %>
							<!-- <td>
								<%= gravatar_for user %>
							</td> -->
							<td>
								<i class="fa fa-at" aria-hidden="true">
									<%= user.nick_name %>
								</i>
							</td>
							<td>
								<i class="fa fa-usd" aria-hidden="true">
									<%= user.saved %>
								</i>
							</td>
							<%end%>
						</tr>
					</tbody>
  				</table>
			</div>
		</div>
	</div>

</div>