<div class="container-fluid">
	<div class="row head-row">
		<div class="col-xs-3">
			<div class="media">
  			<div class="media-left profile-pic-bs">
    			<a href="#">
      				<img class="media-object" src="/assets/dummy-profile.png" alt="...">
    			</a>
  			</div>
  			<div class="media-body profile-name">
  				<% @groups.each do |group| %>
	    			<h2 class="media-heading">
	    				<%= group.name %>
	    			</h2>
	    			<br>
	    			<h1 class="total-savings">
	    				<em>Total Savings:</em><br />
	    				<i class="fa fa-usd" aria-hidden="true">
	    					<%= group.total_savings %>
	    				</i>
	    				
	    			</h1>
	    			
	    			<%= link_to "Edit", "/groups/#{group.id}/edit", class: "home-link" %>
	    			<%= link_to("Delete", group_path(group), method: :delete, data: {confirm: 'Are you sure?'}) %>
    			<% end %>
  			</div>
		</div>
		<div class="col-xs-3">

		</div>
		<div class="col-xs-3">

		</div>
		<div class="col-xs-3 invite-link">
			<p>
				<a href="/groups/<%= @group_id %>/invites/new">
					<i class="fa fa-paper-plane" aria-hidden="true"></i>
				</a>
				<em>Send-Invite</em>
			</p>
			<a href="/groups/<%= @group_id %>/invites">
				<i class="fa fa-binoculars" aria-hidden="true">See all</i>
			</a>
		</div>
	</div>

	<div class="row mid-row">
		<div class="col-xs-3 goal-col">
			<h4><%= flash[:success] %></h4>
			<table>
				<thead>
					<tr>
						<th>
							<h3>Goals</h3>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<% @goals.each do |goal| %>
						<td>
							<div class="list-group">
								<a href="/groups/<%=goal.group.id%>/goals/<%= goal.id %>" class="list-group-item list-group-item-success goal-item">
									<%= goal.goal_name %>
									<br />
									<i class="fa fa-usd" aria-hidden="true">
										<%= goal.goal_amount.to_f %>
									</i><br />
									<div class="progress">
									  <div class="progress-bar progress-bar-success" style="width: <%= (goal.current_amount.to_f / goal.goal_amount) * 100 %>%">
									    <span class="sr-only">0% Complete (success)</span>
									  </div>
									</div>
								</a>
								<span class="badge">
									<%= link_to("Delete", group_goal_path(goal.group_id, goal), method: :delete, data: {confirm: 'Are you sure?'}) %>
								</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<% end %>
			<a href="/groups/<%=@group_id%>/goals/new">
			<button type="button" class="btn btn-primary">Create goal</button>
			</a>
		</div>
		<div class="col-xs-3">

		</div>
		<div class="col-xs-3">

		</div>
		<div class="col-xs-3 contrib-col">
			<div class="panel panel-default">
  				<!-- Default panel contents -->
  				<div class="panel-heading">
  					Contributers
  				</div>

  				<!-- Table -->
 				<table class="table">
 					<thead>
 						<tr>
 							<th>Saver</th><th>Last-contrib</th>
 						</tr>
 					</thead>
					<tbody>
						<tr>
							<% @users.each do |user| %>
							<!-- <td>
								<%= gravatar_for user %>
							</td> -->
							<td>
								<i class="fa fa-at" aria-hidden="true">
									<%= user.nick_name %>
								</i>
							</td>
							<td>
								<i class="fa fa-usd" aria-hidden="true">
									<%= user.saved %>
								</i>
							</td>
							<%end%>
						</tr>
					</tbody>
  				</table>
			</div>
		</div>
	</div>

</div>