<div class="container-fluid group-form-page">
	<div class="row logo-row">
	    <div class="col-xs-12">
	      <%= image_tag "login-quote.png", class: "logo-qoute", style: "height: 100px;" %>
	    </div>
	</div>
	<div class="row mid-row">
		<div>
			<% if @groups.errors.any? %>
			<ul>
				<% @groups.errors.full_messages.each do |error| %>
				<li>
					<%= error %>
				</li>
				<% end %>
			</ul>
			<%end%>
		</div>


		<div class="col-sm-12">
			<div class="panel panel-default create-group-form">
			  <div class="panel-body group-form-panel-body">
			    <%= form_for @groups do |f| %>
					<div class="field">
						<%= f.label :name %><br />
						<%= f.text_field :name, autofocus: true %>
					</div>
					<div class="field">
						<%= f.label :card %><br />
						<%= f.number_field :card, autofocus: true %>
					</div>
					<!-- <div class="field">
						<%= f.label :total_savings %><br />
						<%= f.number_field :total_savings, autofocus: true %>
					</div> -->
					<div class="action group-btn">
						<%= f.submit "create", class: "btn btn-primary" %>
					</div>
				<%end%>
			  </div>
			</div>
		</div>
	</div>
</div>





