<div class="container">
	<div class="row pic-info-row">
      <div class="col-xs-12 edit-profile-col">
        <h4 class="media-heading profile-pic">
            <a href="/users/edit">
              <%= gravatar_for @user %>
            </a><br />
              <%= @user.first_name %>
              <%= @user.last_name %>
          </h4>
      
        <div class="well well-sm info-well">
          <i class="fa fa-credit-card-alt" aria-hidden="true">
            <%= @user.card_number %>
          </i>
          <span class="label label-default profile-label">
            <i class="fa fa-pencil-square-o" aria-hidden="true">
            </i>
            <%= link_to "EDIT YOUR PROFILE", "/users/edit", class: "edit-profile-link" %>
          </span>
        </div>
        <div class="list-group family-list">
           <a href="#" class="list-group-item disabled">
            Family
           </a>
          <%= @users.each do |user| %>
          <%= link_to "#{user.first_name}", "/show/profile", class: "list-group-item" %>
        </div>
        <%end%>
      </div>
		</div>
	</div>

	<div class="row middle-row">
    <h3 class="group-topic">Savings</h3><br />
    <div class="col-xs-3 group-section">
      <div class="list-group">
        <% @groups.each do |group|%>
        <a href="/groups/<%= group.id %>" class="list-group-item active">
          <h4 class="list-group-item-heading">
            <i class="fa fa-money" aria-hidden="true"></i>
              <%= group.name %>
          </h4>
            <p class="list-group-item-text">
              <i class="fa fa-usd" aria-hidden="true">
                <%= group.total_savings.to_f %>
              </i>
            </p>
        </a>
      </div>
      <% end %>
    </div>

    <div class="col-xs-3">
      
    </div>

    <div class="col-xs-3">

    </div>

    <div class="col-xs-3">
      
    </div>
	</div>
</div>