<div class="container">
	<div class="row pic-info-row">
      <div class="col-xs-12 edit-profile-col">
        <h4 class="media-heading profile-pic">
            <a href="/users/edit">
              <%= gravatar_for @user %>
            </a><br />
              <%= @user.first_name %>
              <%= @user.last_name %>
        </h4>
      
        <div class="well well-sm info-well">
          <i class="fa fa-credit-card-alt" aria-hidden="true">
            <%= @user.card_number %>
          </i>
          <span class="label label-default profile-label">
            <i class="fa fa-pencil-square-o" aria-hidden="true">
            </i>
            <%= link_to "EDIT YOUR PROFILE", "/users/edit", class: "edit-profile-link" %>
          </span>
        </div>

        <div class="panel panel-default family-panel">
          <div class="panel-heading users-panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-users" aria-hidden="true">
                Family
              </i>
            </h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @users.each do |user| %>
              <li>
                <%= link_to "#{user.first_name}", "/show/profile", class: "list-group-item" %>
              </li>
              <%end%>
            </ul>
          </div>
        </div>
        <h4 class="savings-title">
          <i class="fa fa-money" aria-hidden="true">
             Savings
          </i>
        </h4>
        <div class="well well-sm info-well group-section">
          <div class="list-group">
            <% @groups.each do |group|%>
            <a href="/groups/<%= group.id %>" class="list-group-item active group-list">
              <h4 class="list-group-item-heading">
                <i class="fa fa-money" aria-hidden="true"></i>
                <%= group.name %>
              </h4>
              <% end %>
              <p class="list-group-item-text">
                <i class="fa fa-usd" aria-hidden="true" style="font-size: 20px;">
                  <%= @total_savings.to_f %>
                </i>
              </p>
            </a>
          </div>
        </div>
      </div>
		</div>
	</div>
</div>