<div class="container-fluid">
	<div class="row pic-info-row">
    			<h4 class="media-heading">
            <%= gravatar_for @user %>
    				<%= @user.first_name %>
    				<%= @user.last_name %>
    			</h4><br />
          <a href="/users/edit">Edit</a>
		</div>
	</div>

	<div class="row middle-row">
    <section class="group-section">
      <div class="list-group">
        <% @groups.each do |group|%>
        <a href="/groups/<%= group.id %>" class="list-group-item active">
          <h4 class="list-group-item-heading">
              <%= group.name %>
          </h4>
            <p class="list-group-item-text">
              $<%= group.total_savings.to_f %>
            </p>
        </a>
      </div>
      <% end %>
    </section>
	</div>
</div>