<div class="container-fluid">
	<div class="row mid-row">
		<div>
			<% if @goal.errors.any? %>
			<ul>
				<% @goal.errors.full_messages.each do |error| %>
				<li>
					<%= error %>
				</li>
				<% end %>
			</ul>
			<%end%>
		</div>

		<div class="col-sm-12">
			<h1 class="goal-form-heading">
				<i class="fa fa-futbol-o" aria-hidden="true">
					Create Goal
				</i>
			</h1>
			<div class="panel panel-default create-goal-form">
			  <div class="panel-body goal-form-panel-body">
			   <%= form_for [@group, @goal] do |f| %>
				<div class="field">
					<%= f.label :goal_name %><br />
					<%= f.text_field :goal_name, autofocus: true %>
				</div>
				<div class="field">
					<%= f.label :goal_amount %><br />
					<%= f.number_field :goal_amount, autofocus: true %>
				</div>
				<div class="action gaol-btn">
					<%= f.submit "Create goal", class: "btn btn-primary" %>
				</div>
				<%end%>
			  </div>
			</div>
		</div>
	</div>
</div>