<!DOCTYPE html>
<html>
<head>
  <title>FamFundz</title>
  	<script src="https://use.typekit.net/iyw1pcq.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "devise/shared/navbar_head" %>
<%= yield %>
<footer>
	<%= render "devise/shared/footer" %>
</footer>
</body>
</html>
