<!DOCTYPE html>
<html>
<head>
  <title>FamilySavings</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "devise/shared/navbar_head" %>
<%= yield %>
<%= render "devise/shared/footer" %>
</body>
</html>
